streamlit
fastapi
uvicorn
langchain
langchain-google-genai
langchain-huggingface
langchain-community
langchain-classic
langchain-chroma
langchain-text-splitters
chromadb
pypdf2
python-dotenv
python-multipart
rank_bm25
